body{
   
    display: flex;
    
    justify-content: center;
    vertical-align: middle;
}

section{  
    width: 30%;
    justify-content: center;
}

section, div{    
    display: flex;
    text-align: center;
    flex-direction: column;
}

input{
    text-align: center;
    margin-bottom: 3vh;
}
